<!DOCTYPE html>
<html class="hola-html-reset hola-var">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">      
    <title>¡Hola!</title>
    <link rel="stylesheet" href="https://unpkg.cnpmjs.org/holakit@0.6.2/assets/holakit.min.css">
    <link rel="stylesheet" href="/i/css/holap.css">
  </head>
  <body class="hola-body-typography hola-grey-bg">
    <header class="hola-navbar hola-navbar-transparent hola-navbar-darkbg hola-navbar-with-hero">
      <div class="hola-container">
        <nav class="hola-navbar-main">
          <a href="/" class="hola-navbar-brand">¡Hola!</a>
        </nav>
        <nav class="hola-navbar-sub">
          <a href="https://ihola.one">¡Hola! 官网</a>
        </nav>
      </div>
    </header>
    <{include file=$__template_file}>
    <footer class="hola-footer">
      <div class="hola-container">
        <p>Copyright 2017 Team ¡Hola!.</p>
        <p>This project is hosted on <a href="https://github.com/teamhola/holakit">GitHub</a>.</p>
      </div>
    </footer>
  </body>
</html>