    <div class="hola-hero hola-hero-height-extended">
      <div class="hola-container hola-hero-content">
        <h1>青春、梦想和活力</h1>
        <p>在 ¡Hola! 活动中的创想和故事。</p>
        <!--<a href="https://design.ihola.one" class="hola-link-cta">前往 ¡Hola! Design</a>-->
      </div>
    </div>
    
    <h3 class="hola-container hola-card-stack-title hola-card-stack-title-light">¡Hola! Conf 2017</h3>
    <div class="hola-container hola-card-stack holap-col">
        <{foreach $records as $r}> 
        <div>
            <a href="/talk-<{$r.id}>">
                <div class="hola-card hola-card-with-image holap-col-item">
                    <img src="<{$r.img}>" alt="Photo from Unsplash" class="hola-image">
                    <h3 class="hola-card-title"><{$r.title}></h3>
                    <p>讲者 张佑杰 @ ¡Hola! Conf 2017</p>
                </div>
            </a>
        </div>
        <{/foreach}>
    </div>
