  <header class="hola-navbar hola-navbar-white hola-navbar-lightbg">
    <div class="hola-container">
      <nav class="hola-navbar-main">
        <a href="/" class="hola-navbar-brand">¡Hola!</a>
      </nav>
      <nav class="hola-navbar-sub">
        <a href="https://ihola.one">¡Hola! 官网</a>
      </nav>
    </div>
  </header>
  <div class="hola-container hola-card-stack">
    <div class="hola-card hola-card-with-image">
      <div class="video-player">
        <{if $records[0]["bilibili"]}>
        <div videoplay id="videoplay-bilibili">
          <iframe class="hola-image" src="https://www.bilibili.com/html/html5player.html?aid=<{$records[0]["bilibili"]}>&as_wide=1" frameborder="0" allowfullscreen></iframe>
        </div>
        <{/if}>
        <{if $records[0]["youtube"]}>
        <div videoplay id="videoplay-youtube">
          <iframe class="hola-image" src="https://www.youtube.com/embed/<{$records[0]["youtube"]}>" frameborder="0" allowfullscreen="">在某些网络环境下，您可能无法使用 YouTube 视频源。</iframe>
        </div>
        <{/if}>
      </div>
      <h1 class="hola-card-title"><span class="catg-<{$records[0]["cid"]}>"><{$catg[0]["title"]}></span><{$records[0]["title"]}></h1>
      <div class="video-switcher">
        <h5>视频源</h5>
        <{if $records[0]["bilibili"]}>
        <a href="#bilibili" id="videosrc-bilibili">哔哩哔哩</a>
        <{/if}>
        <{if $records[0]["youtube"]}>
        <a href="#youtube" id="videosrc-youtube">YouTube</a>
        <{/if}>
      </div>
    </div>
    <div class="hola-card">
      <p>本视频录制于 <a href="https://ihola.one/events/<{$events[0]["link"]}>.html"><{$events[0]["name"]}></a>，讲者 <{$users[0]["full_name"]}>。</p>
      <p><{$records[0]["desc"]}></p>
      <p>所有 <a href="https://ihola.one/events/<{$events[0]["link"]}>.html"><{$events[0]["name"]}></a> 活动视频均以 <a href="<{$protocol[0]["link"]}>"><{$protocol[0]["name"]}></a> 协议发布。请遵守协议，转载请注明出处，请勿用于商业用途。</p>
    </div>
  </div>
  <script>
    if (!location.hash) location.hash = '#bilibili'

    window._prevId = location.hash.slice(1)

    const handler = e => {
      !e || e.preventDefault()
      document.getElementById('videosrc-' + window._prevId).setAttribute('class', '')
      document.getElementById('videosrc-' + location.hash.slice(1)).setAttribute('class', 'active')
      document.getElementById('videoplay-' + window._prevId).setAttribute('class', '')
      document.getElementById('videoplay-' + location.hash.slice(1)).setAttribute('class', 'active')
      window._prevId = location.hash.slice(1)
      return false
    }

    window.addEventListener('hashchange', handler)

    handler()
  </script>
