    <header class="hola-navbar hola-navbar-transparent hola-navbar-darkbg hola-navbar-with-hero">
      <div class="hola-container">
        <nav class="hola-navbar-main">
          <a href="/" class="hola-navbar-brand">¡Hola!</a>
        </nav>
        <nav class="hola-navbar-sub">
          <a href="https://ihola.one">¡Hola! 官网</a>
        </nav>
      </div>
    </header>
    <div class="hola-hero hola-hero-height-extended">
      <div class="hola-container hola-hero-content">
        <h1>青春、梦想和活力</h1>
        <p>在 ¡Hola! 活动中的创想和故事。</p>
        <!--<a href="https://design.ihola.one" class="hola-link-cta">前往 ¡Hola! Design</a>-->
      </div>
    </div>
    
    <h3 class="hola-container hola-card-stack-title hola-card-stack-title-light">¡Hola! Conf 2017</h3>
    <div class="hola-container hola-card-stack holap-col">
        <{foreach $records as $r}> 
        <{if isset($_SESSION['admin']) || !$r.visibility }>
        <div>
            <a href="/talk-<{$r.id}>">
                <div class="hola-card hola-card-with-image holap-col-item">
                    <img src="<{$r.img}>" alt="Photo from Unsplash" class="hola-image">
                    <h3 class="hola-card-title"><{$r.title}></h3>
                    <p>讲者 <{ $users[$r.uid]["full_name"] }> @ <{ $events[$r.eid]["name"] }></p>
                </div>
            </a>
        </div>
        <{/if}>
        <{/foreach}>
    </div>
