<section id="main">
    <article id="post-holaxluogu" class="article article-type-post" itemscope="" itemprop="blogPost">
        <div class="article-inner hola-card">
            <header class="hola-card-title">
                <h1 itemprop="name">
                    <a class="article-title">Admin Login</a>
                </h1>
            </header>
            <div class="article-entry" itemprop="articleBody">
                <form action="<{url c="admin/main" a="login"}>" method=POST>
                    <p>Username: <input type="text" name="username" size=40></p>
                    <p>Password: <input type="password" name="password" size=40></p>
                    <p><input type=submit value=" 登录 "></p>
                </form> 
            </div>
        </div>
    </article>
</section>